.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 45px 0 36px 0;
  row-gap: 41px;
  max-width: 880px;
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 28px 0 38px 0;
    row-gap: 32px;
  }
}
